{% extends 'base.html' %}

{% block content %}
<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        background-color: #7337ff;
        margin: 0;
        padding: 0;
    }

    /* Contenedor principal */
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        margin-top: 100px;
    }

    /* Estilo de la lista de presupuestos */
    .budget-list {
        background: #f8f3ff;
        padding: 20px;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .budget-list h2 {
        color: #333333;
    }

    .budget-list ul {
        list-style: none;
        padding: 0;
    }

    .budget-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        position: relative; /* Añadido para posicionamiento */
    }

    .budget-list li span {
        flex-grow: 1;
    }

    .budget-list .button-group {
        display: flex;
        justify-content: flex-end;
    }

    .budget-list .agregar-btn {
        background: #2e2ae9;
        color: #ffffff;
        border: none;
        padding: 10px 80px; /* Aumentar tamaño */
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 20px;
    }

    .budget-list .modify-btn,
    .budget-list .delete-btn {
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
        color: #fff;
    }

    .budget-list .modify-btn {
        background-color: #28a745;
    }

    .budget-list .delete-btn {
        background-color: #f44336;
    }

    h1 {
        color: #512985;
        margin-bottom: 20px;
        text-align: center;
    }

    /* Hover effects */
    .budget-list .agregar-btn:hover,
    .budget-list .modify-btn:hover,
    .budget-list .delete-btn:hover {
        opacity: 0.8;
    }
</style>

<!-- Integración de Bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<body>
    <!-- Contenedor principal -->
    <div class="container">

        <h1>Gestión de Costos</h1>

        <!-- Lista de presupuestos -->
        <section class="budget-list">
            <h2>Presupuestos</h2>
            <ul>
                {% for p in presupuestos %}
                <li>
                    <span><b>{{ p.nombre }}</b>
                        <p>{{ p.descripcion }}</p>

                        <!-- Botón Agregar costo -->
                        <a href="/costo/{{ p.id }}/" class="btn btn-primary agregar-btn">Agregar costo</a>

                        <ul>
                            {% for costo in p.costos.all %}
                            <li>El costo es de: {{ costo.monto }}
                                <div class="button-group">
                                    <form action="/eliminarCosto/{{costo.id}}/" method="post" style="display:inline;"> 
                                        {% csrf_token %}
                                        <button class="btn btn-danger delete-btn">Borrar costo</button>
                                    </form>
                                    <a href="/editarCosto/{{ costo.id }}/" class="btn btn-success modify-btn">Editar Costo</a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                    </span>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
