{% extends 'base.html' %}

{% block content %}
<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    /* Contenedor principal */
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        margin-top: 100px;
    }

    /* Encabezado */


    /* Estilo de la lista de presupuestos */
    .budget-list {
        background: #fff;
        padding: 20px;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .budget-list h2 {
        color: #333333;
    }

    .budget-list ul {
        list-style: none;
        padding: 0;
    }

    .budget-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .budget-list li span {
        flex-grow: 1;
    }

    .budget-list .agregar-btn,
    .budget-list .modify-btn,
    .budget-list .delete-btn {
        background: #28a746;
        color: #fff;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        margin-left: 5px;
        border-radius: 3px;
    }

    .budget-list .delete-btn {
        background: #e74c3c;
    }
    .budget-list .agregar-btn {
        background: #2e2ae9;
    }

    h1 {
        color: #512985;
        margin-bottom: 20px;
        text-align: center;
    }

    /* Hover effects */
   
    .budget-list .modify-btn:hover,
    .budget-list .agregar-btn,
    .budget-list .delete-btn:hover {
        opacity: 0.8;
    }
</style>
</head>

<body>
    <!-- Contenedor principal -->
    <div class="container">

        <h1>Gestión de Costos</h1>


        <!-- Lista de presupuestos -->
        <section class="budget-list">
            <h2>Presupuestos</h2>
            <ul>
                {% for p in presupuestos %}
                <li>
                    <span><b>{{p.nombre}}</b>
                        <p>{{p.descripcion}}</p>
                    </span>
                    
                    <button class="agregar-btn">Agregar costo</button>
                    <button class="modify-btn">Modificar costos</button>
                    <button class="delete-btn">Borrar costos</button>
                </li>
                {% endfor %}
                
            </ul>
        </section>
    </div>
</body>
{% endblock %}